html, body{
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: 'Ubuntu Mono', monospace;
}

a{
    text-decoration: none;
    color: #666;
}

a.active{
    color: #000;
    text-decoration: underline;
}

.col{
    width: 250px;
    float: left;
    height: 100%;
}

.col .viewport{
    padding: 5px;
    line-height: 17px;
}

.col h1{
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;
}

.col h2{
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    padding-top: 20px;
}

.col h3{
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
}

.description{
    padding: 2px;
    color: #000;
}

.details{
    display: none;
}

#col3{
    width: 500px;
}

/* Tiny Scrollbar */
.col .viewport { width: 230px; height: 100%; overflow: hidden; position: relative; margin: 0px;padding: 0px;}
#col3 .viewport{ width: 480px; }
.col .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 10px; margin: 0; }
.col .scrollbar{  position: relative; background-position: 0 0; float: right; width: 5px; }
.col .track { height: 100%; width:13px; position: relative; padding: 0 1px; }
.col .thumb { background-color: #eee; height: 20px; width: 5px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: 0px; }
.col .thumb .end { overflow: hidden; height: 5px; width: 25px; }
.col .disable { display: none; }